.palette-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    border: 1px solid;
    background-color: white;

    width: 34vh;
    height: max-content;
}

.color-choice {
    width: 4vh;
    height: 4vh;
    border: .1vh solid;
}