#drawing-board,
#canvas-cursor {    
    image-rendering: pixelated;
    cursor: none;
}

#cell {
    background-color: white;
    width: 2%;
    height: 2%;
}

#drawing-board {
    background-color: #FFFFFF;
}

#canvas-cursor {
    position: absolute;
    pointer-events: none;
}