:root {
    --cursor-size: 16px;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    cursor: none;
}

.bot {
    bottom: 2vh;
    margin: 0;
    position: fixed;
}

.top {
    top: 2vh;
    margin: 0;
    position: fixed;
}

.left {
    left: 2vh;
    margin: 0;
    position: fixed;
}

.right {
    right: 2vh;
    margin: 0;
    position: fixed;
}


/* custom link */
a:hover {
    cursor: pointer;
}
