.header-container {
    display: flex;
    flex-direction: row;

    z-index: 1;
}

.header-container button {
    margin: 0.25vw;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
}